.task-wrapper {
  width: 630px;
  margin-bottom: 8px;

}

.task-wrapper .task-inner-wrapper {
  display: flex;

  justify-content: space-between;
  border: none;
  box-shadow: 2px 1px 1px 2px rgb(226, 207, 207);
}

.task-wrapper .task-inner-wrapper .task-name {
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  height: 35px !important;
}

.task-wrapper .task-inner-wrapper .completed-task-name {
  text-transform: capitalize;
  opacity: 0.5;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  height: 35px !important;
  text-decoration: line-through;
}

.task-wrapper .task-inner-wrapper .btn-div {
  display: flex;
  align-items: center;
  margin: 3px;
  gap: 5px;
}

.task-wrapper .task-inner-wrapper .btn-div .btn-done,
.btn-delete {
  cursor: pointer;
  height: 35px !important;
  font-size: large;
  border: none;
}
