.task-wrapper{
    margin-top: 50px;
    width: 100%;
}
.task-wrapper .task-inner-wrapper{
    /* border: 1px solid grey; */
    display: flex;
    gap: 10px;
    justify-content: center;

}
.task-wrapper .task-inner-wrapper .task-name{
    border: 1px solid grey;
    border-radius: 10px;
    width: 40%;
    padding: 0;
    margin: 0;
    padding-left: 10px;
}


